* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.first {
    background-color: #f6f2f2;
    height: 75vh;  
    padding-top:3.5%;
}
nav {
    background-color: #313030;
    margin-left: 10%;
    margin-right: 10%;
/*     margin-top: 5vh; */
    height: 13vh;
}
ul {
    height: 100%;
}
li {
    display: inline-block;
    height: calc(100% - 30px);
    color:white;
    letter-spacing: 2.5px;
    line-height: 24pt;
    font-size: 14px;
    text-transform: uppercase;
    z-index: 2;
    padding-top:30px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 38px;
}
ul :hover {
    background-color: #ff3f40;
    transition: .3s;
}
ul :first-child {
    margin-left:28%;
}

.oso {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 48px;
}
.oso_first {
    font-size: 36px;
    width:50%;
}
.oso_first h1 {
    font-weight: 600;
}
.oso_first p {
    font-size: 16px;
    width: 90;
    padding-top: 20px;
    color: #6f6d6d;
    margin: 0;
}
.contact {
    width:160px;
    height: 40px;
    color:white;
    background-color: #ff3f40;
    border-radius: 5px;
    font-size: 13px;
    border: none;
    margin-top: 80px;
    float:left;
}
.oso_second {
    float:right;
}
iframe {
    position: relative;
    right:calc(280 + 10vw);
    top: -200px;
}