* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.first {
    background-color: #f6f2f2;
    height: 75vh;  
    padding-top:3.5%;
}
nav {
    background-color: #313030;
    margin-left: 10%;
    margin-right: 10%;
/*     margin-top: 5vh; */
    height: 13vh;
}
ul {
    height: 100%;
}
li {
    display: inline-block;
    height: calc(100% - 30px);
    color:white;
    letter-spacing: 2.5px;
    line-height: 24pt;
    font-size: 14px;
    text-transform: uppercase;
    z-index: 2;
    padding-top:30px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 38px;
}
ul :hover {
    background-color: #ff3f40;
    transition: .3s;
}
ul :first-child {
    margin-left:28%;
}

.oso {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 48px;
    height: 80%;
}
.oso_first {
    font-size: 36px;
    width:50%;
}
.oso_first h1 {
    font-weight: 600;
}
.oso_first p {
    font-size: 16px;
    width: 90;
    padding-top: 20px;
    color: #6f6d6d;
    margin: 0;
}
.contact {
    width:160px;
    height: 40px;
    color:white;
    background-color: #ff3f40;
    border-radius: 5px;
    font-size: 13px;
    border: none;
    margin-top: 80px;
    float:left;
}
.oso_second {
    float:right;
}
iframe {
    position: relative;
    right:calc(280 + 10vw);
    top: -200px;
}
.dyk {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 5%;
}
.dyk_left {
    width: 50%;
    float:left;
}
.dyk h1 {
    font-size:32px;
    font-weight: 500;
    margin-top:20px;
}
.dyk_left p {
    font-size:17px;
    margin-top: 40px;
    padding-top:20px;
    width:80%;
}
.lm {
    width:140px;
    border: 3px solid #ff3f40;
    border-radius: 5px;
    color: #ff3f40;
    height: 40px;
    font-size: 17px;
    font-weight: 500;
    background-color: #fff;
    margin-top: 60px;
}
.dyk_right {
    float:right;
    width: 50%;
}
.xd h2 {
    color: #4c4c4c;
    font-weight: 600;
    font-size: 24px;
    padding-top:25px;
}
.xd p {
    padding-top:10px;
    width: 15vw;
    margin-bottom:45px;
}
.xd {
    width:45%;

}


.ll {
    float:left;
    margin-right:20px;
}
.rr {
    float:right;
    margin-right:20px;
}
.end {
    border-top: 3px double #ececec;
    width:80%;
    margin-left:10%;
    text-align: center;
}
.three {
    height: 100vh;
    margin-top:100vh;
}
.th_info {
    text-align: center;
    margin-top:80px;

    letter-spacing: .8px;
    color: #4c4c4c;

}
.th_info h1 {
    font-size: 42px;
}
